#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e7e7e7;

    //fixed toolbar
    position: fixed;
    top: 0;
    width: 100%;
}

#nav li {
    float: left;
    border-right: 1px solid #bbb;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


p{ 
	line-height: 1em;
}

h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}

#page{ 
	margin: 40px;
}

#name{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
	font-size: 1.7em;
}

img.seahawks {
  width:500px;
  height:300px;
}

#content{
	margin: 50px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

