/**********************************************************
* File: RexburgEvents.css
* Author: Kylor Kersavage
* 
* Description: Style for the entire Rexburg Events site
***********************************************************/

/* Navigation Bar */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 2px solid #e7e7e7;

    //fixed toolbar
    position: fixed;
    top: 0;
    width: 100%;
}

#nav li {
    float: left;
    border-right: 1px solid #e7e7e7;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    font-family: arial;
    font-size: 120%;
    font-weight: bold; 
    display: block;
    color: orange;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #e7e7e7;
}

.active {
    background-color: white;
}
/* End Navigation Bar */


p{ 
    line-height: 1em;
    font-size: 200%; 
}

h2, h3, h4{
    font-family: courier;
    color: orange;
    line-height: 1.1em;
    margin: 0 0 -1em 0;
}

header{
    margin: 0;
}

body{
    background: #e7e7e7;
    margin: 0;
}

.content { 
    font-family: bookman;
    font-size: 100%; 
    line-height: 1.2em; 
    padding-left: 150px;
    padding-right: 300px;

}
